body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
a:hover{
    text-decoration:none
}
a, button, input, a:visited, button:visited, a:focus, button:focus{
    outline: none;
}
.img-responsive{
    max-width: 100%;
}
header{
    border-bottom: 1px solid #ccc;
}
.top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0;

}
.logo-container img{
    max-width: 135px;
}
.navbar-toggler {
    display: none;
    padding: 0;
}
.social-container{
    padding: 0;
    margin: 0;
}
.social-container li{
    display: inline-block;
    padding: 0 10px;
}
.social-item img{
    width:20px;
    height: 20px;
}
.btn-search{
    border:0;
    background: transparent;
}
.mainmenu li.nav-item a.nav-link{
    color: #636363;
    font-size: 15px;
    padding: 0 30px;
}
.mainmenu li.nav-item.active a.nav-link{
    color: #f15c32;
}
.mainmenu .navbar-nav{
    margin-right: 50px;
}

/*footer*/
.site_footer{
    background: #ebebeb;
    padding: 60px 0;
    font-size: 12px;
    color: #898989;
}
.footermenu-list {
    padding: 0;
    margin: 0;
    margin-bottom: 20px; 
}

.menu-title, .footerinfo-title {
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    text-transform: uppercase;
    color: #252525;
}
.footermenu-list li{
    list-style: none;
}
.footermenu-list li a{ 
    padding: 8px 0;
    display: block;
    color: #898989;
}
.footerinfo-title{
    border:0;
    margin:0;
}
.contactfooter .form-group{
    margin:0;
}
form .group2-input{
    display: flex;
    flex-direction: row;
}
form .group2-input > input.form-control{
    width: 65%;
}
form .group2-input > button{
    width: 35%;
}
.contactfooter  ::-webkit-input-placeholder { /* Edge */
     font-size: 12px;
  }
  
.contactfooter   :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 14px;
  }
  
.contactfooter  ::placeholder {
    font-size: 14px;
  }
.top-banner-contiainer{
    display: table;
}
.top-banner-contiainer:before, .top-banner-contiainer:after{
    content: '';
}
.topbanner-item{
    position: relative;
    float: left;
    width: 40%;
    height: 270px;
    overflow: hidden;
}
.topbanner-item .img-container{
    height: 100%;
}
.topbanner-item img{
    width: 100%;
    object-fit: cover;
    object-position: unset;
    height: 100%;

}
.topbanner-item:first-child{
    width: 60%;
    height: 540px;
}
.banner-caption-container{
    position: absolute;
    padding: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); 
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    color: #ffffff;
}
.banner-title{
    font-size: 24px;
    font-weight: 700;
}
.banner-description{
    font-size: 15px;
    display: none;
}
.topbanner-item:first-child .banner-description{
    display: block;
}
.latest-news{
    background:#f4f4f4;
}
.latestnews-container {
    padding: 50px 0;

}
.latestnews-container  .slick-list {
    margin:0 -23px;
}
.latestnews-container .slick-slide {
    padding: 0 23px;
}
.latestnews-container img{
    width: 100%;
}
.latest-news-item{
    margin-bottom: 30px;
    height: 345px;
}
.latest-news-item a {
    font-size: 16px;
    display: block;
    color: #252525;
}
.latest-news-item a:hover{
    color:#fc8e2e
}
.latest-news-item .latestnews-title{
    font-weight: 700;
}
.latest-news-item a .meta-info{
    font-size: 12px;
    color: #7d7d7d;
    padding: 10px 0 8px;
    
}
.latestnews-desctiontion{
    font-size: 13px;
    padding: 20px 0;
}
.latest-news-item.no-thumbnail{
    border-top: 1px solid #ccc;
}
.latest-news-item.no-thumbnail .latestnews-title{
    color:#fc8e2e; 
}
.latest-news-item.no-thumbnail .latestnews-desctiontion{
    border-bottom: 1px solid #ccc;
}
.latestnews-container .slick-arrow {
    position: absolute;
    top: 30%;
    margin-top: -30px;
    z-index: 99;
    font-size: 0;
    height: 50px;
    width: 35px;
    border:0;
    background: transparent;
    background: {{ asset("slide-arrow.svg") }} no-repeat;
    background-size: contain;
    opacity: 0.5;
}
.latestnews-container .slick-arrow.slick-prev{
    left: -70px;
    transform: rotate(180deg);
    
}
.latestnews-container .slick-arrow.slick-next{
    right: -70px;
}
.latestnews-container .slick-dots{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.latestnews-container .slick-dots li{
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}
.latestnews-container .slick-dots li button{
    border: 2px solid #b7b7b7;
    font-size: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: transparent;
}
.latestnews-container .slick-dots .slick-active button{
    background: #fc8e2e;
    border: 2px solid #fc8e2e;
}
.ourclient{
    padding:50px 0;
} 
.ourclient-title{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
.client-item img{
    margin: 0 auto;
}
.social-media{
    padding: 50px 0;
}
.socialmedia-item{
    margin-bottom: 30px;
}
.fb-header{
    background: #000;
    padding: 100px 20px 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fb-likebutton button{
    border-radius: 3px; 
    border: 1px solid #fff;
    background: #000;
}
.fb-post{
    border:1px solid #ccc;
    padding: 30px 20px;
}
.fb-images{
    max-width: 100%;
}
.fb-post .date{
    font-size: 12px;
    display: block;
    padding: 10px 0 8px;
    margin: 0;
    color:#7d7d7d;
}
.socialmedia-item.twitter, .socialmedia-item.instagram{
    border: 1px solid #ccc;
}
.socialmedia-item.twitter>div, .socialmedia-item.instagram > div{
    padding: 20px; 
}
.socialmedia-item.twitter>div:not(:last-child){ 
    border-bottom: 1px solid #ccc;
}
.twitter-header, .ig-header{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.twitter-username, .ig-username {
    font-size: 21px;
    font-weight: 700;
}
.twitter-username img, .ig-username img{
    width: 30px;
    height: auto;
    margin-right: 10px;
}
.tw-likebutton button, .ig-header button{
    border: 0;
    background: transparent;
}
.tw-post-item {
    position: relative;
    padding: 0px 20px 20px 50px;
}
.tw-post-item .user-photo{
    position: absolute;
    left: 0;
}
.postuser-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.tw-username, .post-time{
    font-size: 14px;
    color:#3cafe3 ;
    font-weight: bold;
} 
.post-time{
    font-size: 12px;
    font-weight: normal;
}
.post-content {
    font-size:13px
}
.tw-images{
    width: 100%;
    margin-top: 10px;
}
.ig-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ig-post .ig-img{
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}
 
.ig-img a  .hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background: rgba(0,0,0,0.5);
    color: #fff; 
    z-index: -1;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
}
.ig-img a:hover  .hover{
    z-index: 2;
    opacity: 1;  
}
.breadcrumb-custom{
    padding:10px 0;
}
.breadcrumb-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
.breadcrumb-list li{
    list-style: none;
} 
.news-title{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}
.page-content{
    padding-top: 30px;
}
.blog-content{
    margin-bottom: 50px;
}
@media (max-width: 991px) {
    .top-header{
        flex-direction: column;
    }
    .logo-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .navbar-toggler{ 
        display: inline-block;
    }
    .site-menu_container{
        width: 100%;
    }
    .navbar-toggler-icon{
        background:  #000;
        height: 3px;
        position: relative;
    }
    .navbar-toggler-icon:after, .navbar-toggler-icon:before{
        background:  #000;
        height: 3px;
        position: absolute;
        width: 100%;
        left: 0;
        content: '';
    }
    .navbar-toggler-icon:after{
        top:-8px;
    }
    .navbar-toggler-icon:before{
        bottom: -8px;
    }
    .navbar-collapse{
        display: flex;
        flex-direction: row;
    }
    .mainmenu .navbar-nav{
        flex-direction: row;
        margin-right: 30px;
    }
    .navbar.navbar-expand-lg  {
        padding: 0;
    }
    .navbar-collapse.mainmenu{
        padding: 30px 0 0;
    }
}
@media (max-width: 767px) {
    .topbanner-item, .topbanner-item:first-child{
        width: 100% ;
    }
    .latestnews-container .slick-list{
        margin:0
    }
    .latestnews-container .slick-slide{
        padding: 0;
    }
 
}